/*
 * @Author: lanck.xie 
 * @Date: 2023-02-15 14:55:24 
 * @Last Modified by: lanck.xie
 * @Last Modified time: 2023-02-15 15:00:00
 * @desc 默认模块变量
 */


$rootFontSize:16px; // 根字体大小
$rootColor:rgb(48, 49, 51) // 字体颜色